@model IEnumerable<AspnetIdentitySample.Models.ToDo>

@{
    ViewBag.Title = "Index | To Do";
}

<h2>Appointments</h2>
<p><a href="/SalesApp/ToDo/Create" id="appointment-button" class="btn btn-primary btn-large">Create Appointment</a></p>
<!--APPOINTMENT FORM-->
@*//These identities will comprise the Appointments form
    public string Date { get; set; }
    public string Company { get; set; }
    public string Description { get; set; }
    public string ApptType { get; set; }
    public string CustomerContact { get; set; }*@
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Date)*@
            @Html.ActionLink("Date", "Index", new { sortOrder = ViewBag.DateSortParm })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Company)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.ApptType)*@
            @Html.Label("Appointment Type")
        </th>
        <th>
           @*@Html.DisplayNameFor(model => model.CustomerContact)*@
           @Html.Label("Customer Contact")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.UserName)
        </th>
    </tr>
    @foreach (var item in Model) 
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @{
        string parameterValue = item.Company.ToString().Substring(0, Math.Min(item.Company.Length, 35)) + "...";
                }
                @Html.DisplayFor(modelItem => parameterValue)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Description.Substring(0, Math.Min(item.Description.Length, 25)))*@
                @{
                    string parameterValue1 = item.Description.ToString().Substring(0, Math.Min(item.Description.Length, 25)) + "...";
                }
                @Html.DisplayFor(modelItem => parameterValue1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApptType)
            </td>
            <td>
                @{
                    string parameterValue2 = item.CustomerContact.ToString().Substring(0, Math.Min(item.CustomerContact.Length, 25)) + "...";
                }
                @Html.DisplayFor(modelItem => parameterValue2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>